.container-topbar {
    background: #252525;
    color: #fff;
    height: 35px;
    margin-bottom: 70px;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.container-topbar .topbar {
    width: 1170px;
    margin: 0 auto;
}

.container-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    height: 70px;
}

.container, .container-fluid {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.container-header .header-content {
    position: relative;
    margin: 0;
    min-height: 42px;
    height: 100%;
}

.align-items-center {
    align-items: center!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.container-header .logo-now {
    position: absolute;
    right: 100%;
    cursor: pointer;
    margin-right: 72px;
    padding-left: 0;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 0;
}

.container-header .logo-now img[alt=ShopeeFood] {
    height: 30px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.container-header .select-local {
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 4px;
    position: relative;
    padding: 0;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.container-header .select-local .dropdown-toggle {
    color: #252525;
    border: 0;
    padding: 10px 27px 10px 19px;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.container-header .select-local .dropdown-toggle:after {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -2px;
    border-top-color: #acacac;
}

.dropdown-toggle:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.container-header .select-local .dropdown-menu {
    min-width: 200px;
    left: -2px;
}

.container-header .dropdown-menu {
    padding: 0;
}

.main-header .dropdown-menu {
    overflow: hidden;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: .875rem;
    color: #464646;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
}

.container-header .select-local .dropdown-item {
    border-bottom: 1px solid #ebebeb;
    padding: 5px 5px 5px 8px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.dropdown-menu .dropdown-item {
    position: relative;
}

.main-header .dropdown-item {
    cursor: pointer;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #252525;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.col{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 0;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.container-header .select-local .count {
    float: right;
    color: #9fa9aa;
    font-size: 12px;
}

.main-nav {
    padding-left: 48px;
    padding-right: 0;
    white-space: nowrap;
}

.main-nav .nav-item.active {
    color: #ee4d2d;
    font-weight: 700;
    border-bottom-color: #ee4d2d;
}

.main-nav .nav-item {
    color: #252525;
    cursor: pointer;
    padding: 10px 12px 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 4px solid transparent;
    font-size: 14px;
}

a {
    color: #0288d1;
    text-decoration: none;
    background-color: transparent;
}

.container-header .icon-search-dark {
    cursor: pointer;
    margin-top: 6px;
}

.icon-search-dark {
    width: 24px;
    height: 24px;
    background-image: url(../img/HomePage/icon_search.svg);
    background-size: cover;
}

.icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.main-header .language {
    position: fixed;
    top: 21px;
    right: 0;
}

.main-header .language .dropdown-toggle {
    cursor: pointer;
}

.main-header .language .dropdown-toggle .icon {
    vertical-align: text-top;
}

.icon-lag-vn {
    width: 20px;
    height: 20px;
    background-position: -54px -12px;
    background-image: url(../img/HomePage/ImageShopeefood01.png);
}

.main-header .language .dropdown-menu {
    margin: 0;
    min-width: inherit;
    padding: 0;
}

.main-header .language .dropdown-menu {
    left: auto;
    right: 0;
}

.main-header .dropdown-menu {
    overflow: hidden;
}

.main-header .language .dropdown-item {
    padding: 10px;
    vertical-align: top;
    display: flex;
}

.dropdown-menu .dropdown-item {
    position: relative;
}

.main-header .dropdown-item {
    cursor: pointer;
}

.icon-lag-en {
    width: 20px;
    height: 20px;
    background-position: -54px -40px;
    background-image: url(../img/HomePage/ImageShopeefood01.png);
}

.main-header .language .language-item {
    margin-left: 7px;
}

.container-header .btn-login {
    padding: 7px 12px;
    background-color: #fff;
    border-color: #ee4d2d;
    color: #ee4d2d;
}

.btn-none-bg {
    color: #0288d1;
    background-color: transparent;
     transition: .1s ease; 
}

.btn {
    color: #fff;
    background-color: #0288d1;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #0288d1;
    border-radius: 6px;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .modal-new-app , .modal-get-local{
    display: none;
  }
