.header{
    height: 70px;
    background-image: #ffffff;
}

.header__icon{
    height: 70px;
    float: left;
    display: flex;
    justify-content: center;
}

.header__icon img{
    max-width: 50%;
    margin: auto;
}

.header__nav{
    height: 70px;
    float: left;
    font-size: 14px;
    font-weight: 400px;
    line-height: 70px;
}


.header__nav-location{
    float: left;
}

.header__nav-location .dropdown-menu{
    display: none;
}

.header__nav-main{
    float: left;
    margin-left: 100px;
}

.header__nav-main-item{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding-left: 10px;
}

.header__nav-search{
    float: right;
    margin-right: 20px;
}

.header__nav-search img{
    vertical-align: middle;
}
.header__nav-login{
    float: right;
    margin-right: 10px;
}

.header__language{
    height: 70px;
    float: right;
    background-color: red;
} 

.button {
    background-color: #FFFFFF; 
    border: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: #ee4d2d;
    line-height: 21px;
    padding: 7px 12px;
    color: #ee4d2d;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.wrapper{
    background-image: url(../img/HomePage/background.jpg);
    background-size: cover;
    height: 100vh;
}

.wrapper__container{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    position: relative;
}

.wrapper__container-left{
    color: #FFFFFF;
    width: 40%;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);

}

.wrapper__container-left .title{
    font-size: 24px;
    font-weight:700;
    line-height:28.8px;
    margin:0px 0px 5px;
    text-align:left;
}

.wrapper__container-left .local{
    font-size: 15px;
    line-height: 22.5px;
    text-align: left;
    text-transform: capitalize;
}

.wrapper__container-right{

}